<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entre em contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Felipe A. de Almeida</ion-card-subtitle>
      <ion-card-title><a href="https://www.linkedin.com/in/felipedealmeida/">Full Stack Engineer</a></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Trabalho na área de desenvolvimento há mais de 10 anos, trabalhei em universidade, indústria alimentícia, setor de BPO e em empresas próprias.</p>
      <br />
      <p>Tenho experiência consolidada no desenvolvimento de soluções CSharp para Web e SQL. Também tenho amplo conhecimento de serviços do Azure e ferramentas ALM como Azure DevOps.</p>
      <br />
      <p>Trabalho remotamente, há 5 anos trabalho na minha empresa, como Engenheiro de Software, e, paralelamente, trabalho há 4 anos como Instrutor de construção de sites e aplicativos, utilizando CSharp, Angular, Ionic e SQLServer.</p>
      <br />
      <p>Anteriormente, atuei em equipe no desenvolvimento de um sistema de RH para digitalização de documentos de grandes empresas, como Protege, Nestlé, Drogasil e Gol.</p>
      <br />
      <p>Sou especialista em Sistemas e Redes Web, graduado em Bacharelado em Sistemas de Informação, com formação em Técnico em Informática na ETEC e certificações EXIN e Microsoft.</p>
      <br />
      <br />
    </ion-card-content>
  </ion-card>
</ion-content>
