<ion-content
  (click)="toogleChaptersOverlay()"
  (tab)="toogleChaptersOverlay()"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PDF Viewer</ion-title>
    </ion-toolbar>
  </ion-header>

  <pdf-viewer
    [fit-to-page]="true"
    [src]="pdf"
    [(page)]="page"
  >
  </pdf-viewer>
  <overlay-pdf-bottom #seriesOverlay
    #chaptersOverlay
    (selectedItem)="selectChapterByIndex($event)"
    [items]="getChaptersOverlay()"
    titulo="{{theme}}"
  >
  </overlay-pdf-bottom>
</ion-content>
